extends layout

block content
  h1= 'Movies By You'
  

  // Wrapper
  #wrapper

    // USER INFO
    #userInfo
      h2 Movie Info
      p
        strong Movie:
        |  <span id='userInfoMovieName'></span>
        br
        br
        strong Screentime:
        |  <span id='userInfoRuntime'></span>
        br
        br
        strong Director:
        |  <span id='userInfoDirector'></span>
        br
        br
        strong Opinion:
        |  <span id='userInfoOpinion'></span>
    // /USER INFO

    // USER LIST
    h2 User Input
    #userList
      table
        thead
          th Username
          th Rate out of 10
          th Movie Name
          th Delete
        tbody
    // /USER LIST

    /// ADD USER
    h2 Add Movie Information
    #addUser
      fieldset
        input#inputUserName(type='text', placeholder='UserName')
        
        input#inputUserRating(type='text', placeholder='Rating')
        br
        br
        input#inputUserMoviename(type='text', placeholder='Movie Name')
        
        input#inputUserRuntime(type='text', placeholder='Runtime')
        br
        br
        input#inputUserDirector(type='text', placeholder='Director') 
      
        input#inputUserOpinion(type='text', placeholder='Opinion')
        br
        br
        button#btnAddUser Add Movie
    // /ADD USER

  // /WRAPPER


